body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #995c23;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: rgb(53, 36, 5);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}